.userPhoto {
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin-top: 10px;
}

.usersContainer {
    margin: 0px 10px;
}

.gridStyling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.paginator {
    text-align: center;
    padding-bottom: 30px;
}

