.userPhoto {
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin-top: 10px;
}

.selectedPage {
    font-weight: bold;
}

.pagesScroll {
    margin-top: 20px;
}

.usersContainer {
    margin: 0px 10px;
}
