.appWrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
  "h h h"
  "n c i";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 180px 10fr;
    min-height: 100vh;
}



/*todo refactor background*/
body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




