.selectedPage {
    font-weight: bold;
    background: yellow;
    border-radius: 20px;
    margin: 0 2px;
}

.pagesScroll {
    margin-top: 20px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.selectedPage {
    font-weight: bold;
    background: yellow;
    border-radius: 20px;
    margin: 0 2px;
}
